<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="eFly"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".ViewItemAll"
            android:exported="false" />
        <activity
            android:name=".MyCatView"
            android:exported="false" />
        <activity
            android:name=".CatView"
            android:exported="false" />

        <activity
            android:name=".NavigationBar"
            android:exported="false" />
        <activity
            android:name=".ProblemAdmin"
            android:exported="false" />
        <activity
            android:name=".ProblemCus"
            android:exported="false" />
        <activity
            android:name=".IncomeShop"
            android:exported="false" />
        <activity
            android:name=".InventoryCustomer"
            android:exported="false" />
        <activity
            android:name=".ItemDownload"
            android:exported="false" />
        <activity
            android:name=".CartAdd"
            android:exported="false" />
        <activity
            android:name=".ItemView"
            android:exported="false" />
        <activity
            android:name=".ItemModify"
            android:exported="false" />
        <activity
            android:name=".ItemAdd"
            android:exported="false" />
        <activity
            android:name=".CusCategoryModify"
            android:exported="false" />
        <activity
            android:name=".CusCategoryAdd"
            android:exported="false" />
        <activity
            android:name=".ProfileCustomer"
            android:exported="false" />
        <activity
            android:name=".CategoryModify"
            android:exported="false" />
        <activity
            android:name=".CategoryAdd"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".ProfileShop"
            android:exported="false" />
        <activity
            android:name=".RegShop"
            android:exported="false" />
        <activity
            android:name=".RegisterAs"
            android:exported="false" />
        <activity
            android:name=".RegCustomer"
            android:exported="false" />
        <activity
            android:name=".Payment"
            android:exported="false" />
        <activity
            android:name=".ModifyReview"
            android:exported="false" />
        <activity
            android:name=".AllShopReveiws"
            android:exported="false" />
        <activity
            android:name=".AddReview"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>